h2 {
    margin: 0 0 50px;
}

#cart-container {
    float: right;
    width: 210px;
    position: relative;
}


#itemCount {
    position: absolute;
    display: none;
    top: -1px;
    left: -1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    color: white;
    text-align: center;
}
i:hover {
    cursor: pointer;
    background-color: lightgrey;
}
.tabel thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}
/*.tabel{*/
    /*width:100%;*/
/*}*/
.btn {
    border: none;
    color: white;
    font-weight:bold;
    /*padding: 15px 32px;*/
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

/*#shoppingCart {*/
    /*top: 0;*/
    /*left: 0;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*display: none;*/
    /*position: absolute;*/
    /*z-index: 9999;*/
    /*background: white;*/
/*}*/

/*#cartItemsContainer {*/
    /*position: relative;*/
    /*width: 800px;*/
    /*left: 50%;*/
    /*top: 0;*/
    /*margin-left: -35%;*/
    /*padding: 40px;*/
    /*box-shadow: 0 0 10px black;*/
    /*background: rgba(248,248,248,0.95);*/
    /*overflow: auto;*/
/*}*/

/*#cartItemsContainer i {*/
    /*position: absolute;*/
    /*top: 20px;*/
    /*right: 20px;*/
/*}*/

/*#cartItemsContainer .itemDetails {*/
    /*overflow: auto;*/
    /*width: 100%;*/
    /*margin-bottom: 40px;*/
/*}*/

/*#cartItemsContainer .itemImage {*/
    /*float: left;*/
    /*width: 260px;*/
    /*padding: 0 40px;*/
/*}*/

/*#cartItemsContainer .itemText {*/
    /*float: right;*/
    /*width: 260px;*/
    /*padding: 0 40px;*/
/*}*/

/*#cartItemsContainer .itemText .price-container {*/
    /*margin-top: 0;*/
/*}*/

/*.removeItem {*/
    /*margin-left: 50%;*/
/*}*/