<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OIS - Login</title>
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    .pad{
        padding: 15px 10px 15px 10px;
    }
    #login {
        width: 100px;

    }
</style>
<body>
<!--<div class="Rectangle">-->
    <!--<h1>Login</h1>-->
<!--<div class="container">-->
    <!--<div class="LoginPage">-->
            <!--<div class="row">-->
                <!--<div  class="col-md-6 col-md-offset-3">-->
                    <!--<div class="box">-->
                    <!--<div class="form-group">-->
                        <!--<div class="col-sm-9">-->
                            <!--<label style="margin-right: 100px;">Email</label>-->
                            <!--<input id="email" type="email" placeholder="Email"-->
                                   <!--class="form-control"/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<div class="col-sm-9">-->
                            <!--<label style="margin-right: 63px;">Password</label>-->
                            <!--<input id="password" type="password" placeholder="Password" class="form-control"/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<div class="col-sm-9">-->
                            <!--<button id="login" class="btn btn-primary btn-block">Login</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="LoginPage">
    <div class="Rectangle">
        Login
    </div>
    <div class="box">
        <div class="lbl">
            <label style="margin-right: 100px;">Email</label>
            <input type="email" class="pad" name="email" placeholder = "email" id="email">
        </div>
        <div class="lbl">
            <label style="margin-right: 63px;">Password</label>
            <input type="password"   class="pad" name="password" placeholder = "password" id="password">
        </div>
        <div class="lbl">
            <button id="login" class="btn btn-primary">Login</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/javascript.js"></script>
<script type="text/javascript" src="/js/cookies.js"></script>

</body>
</html>