<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OIS - Login</title>
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
<body>
<div class="LoginPage">
    <div class="Rectangle">
        Login
    </div>
    <div class="box">
        <div class="lbl">
            <label style="margin-right: 100px;">Email</label>
            <input id="email" type="email" name="email">
        </div>
        <div class="lbl">
            <label style="margin-right: 63px;">Password</label>
            <input id="password" type="password" name="password">
        </div>
        <div class="lbl">
            <button id="login" class="btn">Login</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/cookies.js"></script>
<script type="text/javascript" src="/js/login.js"></script>


</body>
</html>